
@model IEnumerable<WebBanHangLapTop.Models.Product>

<h2>Products</h2>



<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Price</th>
<th>Description</th>
<th>Category</th>
<th>Image</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
 @foreach (var product in Model)
{
<tr class="border border-2 rounded-3">
<td>@product.Name</td>
<td>@product.Price</td>
<td>@product.Description</td>
              @*   @foreach (var item in ViewBag.categorys)
                {
                    if (item.Id == @product.CategoryId)
                    {
                        <td>@item.Name</td>
                        break;
                    }
                } *@
                <td>@product.Category?.Name</td>
 <td>                                    
     <img src ="@product.ImageUrl" style="max-width:200px; height:auto;" class="imageGallery" loading="lazy" />                                                                      
 </td>

                    
               
<td>

                    <a class="btn btn-success" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-Id="@product.Id" asp-route-quantity="1">Chi tiết </a>

                    <a class="btn btn-success" asp-action="Display" asp-route-id="@product.Id">Mua ngay </a> 
 
 <a class="btn btn-success" asp-action="Display" asp-route-id="@product.Id">Chi tiết </a> 

</td>
</tr>
}
</tbody>
</table>